<div class="content items-center justify-center flex-col flex p-6 rounded-lg text-center">
  <h1>Calculadoras</h1>
  <div>

    <button id="btn-rotas" class="botaoFunc">  
      <div id="icone" class="image-container">
        <img id="imagem" width="60px" src="https://github.com/srkayrez/contatos-entregadores/blob/master/src/assets/route.png?raw=true" alt="https://github.com/srkayrez/contatos-entregadores/blob/master/src/assets/route%20red.png?raw=true">
        <h1>Rotas</h1>
      </div>
    </button>

  <button id="btn-calculadora" class="botaoFunc">
    <div class="image-container">
      <img id="imagem2" width="60px" src="https://github.com/srkayrez/contatos-entregadores/blob/master/src/assets/calculator.png?raw=true" alt="https://github.com/srkayrez/contatos-entregadores/blob/master/src/assets/route%20red.png?raw=true">
      <h1>KM/L</h1>
    </div>
  </button>
    
  </div>
</div>
