<div class="buttonNew">
  <button mat-raised-button class="addButon" (click)="openDialog()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
  </button>
</div>

<div class="Menu">

  <div class="grid-itens">
    <a routerLink="">
      <span class="material-icons">
       home
     </span>
    </a>
  </div>

  <div class="grid-itens">
    <a routerLink="/download" style="color: red">
      <span class="material-icons">
        download
      </span>
    </a>
  </div>

  <div class="grid-itens">
    <a routerLink="/info">
      <span class="material-icons">
        info
      </span>
    </a>

  </div>

  <div class="grid-itens">
    <a routerLink="/clima">
      <span class="material-icons">
        sunny_snowing
      </span>
    </a>
  </div>
</div>

