.Menu
{
  position: fixed;
  bottom: 0;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  align-items: center;
  width: 100%;
}
.grid-itens
{
  text-align: center;
}
.grid-itens:hover
{
  color:red
}
