<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
<div class="content items-center justify-center flex-col flex p-6 rounded-lg text-center">

  <h1>Site desenvolvido por:</h1>
  <p>João Victor Caires</p>
  <section class="socialMedia">
    <a target="_blank" href="https://wa.me/5516997955989">
      <i class="fi fi-brands-whatsapp"></i>
    </a>
    <a target="_blank" href="https://www.instagram.com/srkayrez/">
      <i class="fi fi-brands-instagram"></i>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/joao-victor-caires-7b8736203/">
      <i class="fi fi-brands-linkedin"></i>
    </a>
    <a target="_blank" href="https://github.com/srkayrez">
      <i class="fi fi-brands-github"></i>
    </a>
    <a target="_blank" href="mailto:srkayrez@gmail.com">
      <i class="fi fi-rr-envelope"></i>
    </a>
  </section>

</div>

<div class="content items-center justify-center flex-col flex p-6 rounded-lg text-center">
  <i class="fi fi-rr-donate"></i>
  <h1>Doação</h1>
  <button class="pix" (click)="copy()">Doar via pix</button>
</div>


<!-- ------------------------------------ menu ---------------------------------------- -->

<div class="buttonNew">
  <button mat-raised-button class="addButon" (click)="openDialog()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
  </button>
</div>

<div class="Menu">

  <div class="grid-itens">
    <a routerLink="">
      <span class="material-icons">
       home
     </span>
    </a>
  </div>

  <div class="grid-itens">
    <a routerLink="/download">
      <span class="material-icons">
        download
      </span>
    </a>
  </div>

  <div class="grid-itens" style="color: red">
    <a routerLink="/info">
      <span class="material-icons">
        info
      </span>
    </a>

  </div>

  <div class="grid-itens">
    <a routerLink="/clima">
      <span class="material-icons">
        sunny_snowing
      </span>
    </a>
  </div>
</div>

