<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
<div class="content p-6 bg-neutral-700">
  <div class="items-center justify-center flex-col flex p-6 rounded-lg bg-stone-100 text-center">
    <img class="w-12" src="https://github.com/srkayrez/contatos-entregadores/blob/master/src/assets/favicon-removebg-preview.png?raw=true">
    <h1 class="">Portal do entregador</h1>
    <section class="whatsapp">
    <a href="https://chat.whatsapp.com/DGL1hFGyG9OJVXRFma7oBG">
      <button>
        <i class="fi fi-brands-whatsapp"></i> Grupo
      </button>
    </a>
  </section>
  </div>
  <br>
  <router-outlet></router-outlet>

</div>

<!-- <app-menu [menu]="menu"></app-menu> -->
