table {
  width: 100%;
}

.colun {
  text-align: center;
}

img
{
  align-items: center;
  width: 10px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: white;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: white;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.colun
{
  text-align: center;
}

body
{
  padding-bottom: 9em;
}

.content
{
  background-color: white;
  margin-bottom: 1.5em;
}


/* .Menu
{
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  align-items: center;
  width: 100%;
} */



.grid-itens
{
  text-align: center;
}
.grid-itens:hover
{
  color:red
}

img
{
  width: 25%;
  margin: 2em;
}

/* .buttonNew
{
  text-align: center;
  color:white;
  background-color: red;
  border-radius: 100%;
  padding: 1em;
  position: fixed;
  bottom: 0;
  left: 50vw;
  margin-left: -1.7em ;
  margin-bottom: 2em;
  z-index: 1;
  display: inline-flex;

  float: right;
} */

@media (min-width:700px){
  .grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2em;
    padding-bottom: 3em;
width: 100vw;
  }  
}

@media (min-width:1200px){
  .grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2em;
    padding-bottom: 3em;
  }
}
