<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="content items-center justify-center flex-col flex p-6 rounded-lg text-center">
  <button mat-raised-button class="bg-red-500 p-2 rounded-lg" (click)="openDialog()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
  </button>


  <img src="https://github.com/srkayrez/contatos-entregadores/blob/master/src/assets/4014654-breaking-broken-cell-drop-phone_112910%20(1).png?raw=true">
  <h1>Arrumar Celular</h1>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="ArrumarCelular">
      <td mat-cell *matCellDef="let element"> {{element.contato}} </td>
    </ng-container>

    <ng-container matColumnDef="Opcao">
      <th mat-header-cell *matHeaderCellDef>
        Oções
      </th>
      <td mat-cell *matCellDef="let element">

        <button mat-button [matMenuTriggerFor]="menu">
          <span class="material-icons">
            more_horiz
          </span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <a (click)="openWhatsApp(element)">
              <span style="display: inline-block ;" class="iconify" data-icon="mdi:whatsapp"></span>
              WhatsApp
            </a>
          </button>

          <button mat-menu-item>
            <a (click)="openTelefone(element)">
              <span style="display: inline-block ;" class="iconify" data-icon="material-symbols:call-outline"></span>
              Telefone
            </a>
          </button>

          <button mat-menu-item *ngIf="element.temLocal">
            <a (click)="openMap(element)">
              <span style="display: inline-block ;" class="iconify" data-icon="ph:map-pin"></span>
              Endereço
            </a>
          </button>

        </mat-menu>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- ---------------------------- Borracheiro ---------------------------- -->

    <br>
    <span>Borracheiro</span>
    <br>

    <table mat-table [dataSource]="dataSource2">
      <ng-container matColumnDef="ArrumarCelular">
        <td mat-cell *matCellDef="let element"> {{element.contato}} </td>
      </ng-container>

      <ng-container matColumnDef="Opcao">
        <th mat-header-cell *matHeaderCellDef>
          Oções
        </th>
        <td mat-cell *matCellDef="let element">

          <button mat-button [matMenuTriggerFor]="menu">
            <span class="material-icons">
              more_horiz
            </span>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <a (click)="openWhatsApp(element)">
                <span style="display: inline-block ;" class="iconify" data-icon="mdi:whatsapp"></span>
                WhatsApp
              </a>
            </button>

            <button mat-menu-item>
              <a (click)="openTelefone(element)">
                <span style="display: inline-block ;" class="iconify" data-icon="material-symbols:call-outline"></span>
                Telefone
              </a>
            </button>

            <button mat-menu-item *ngIf="element.temLocal">
              <a (click)="openMap(element)">
                <span style="display: inline-block ;" class="iconify" data-icon="ph:map-pin"></span>
                Endereço
              </a>
            </button>

          </mat-menu>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    <!-- ---------------------------- Menu ---------------------------- -->

    <div class="Menu">
      <div class="grid-itens">
        <a>
          <span class="material-icons">
            sunny_snowing
          </span>
        </a>
      </div>
      <div class="grid-itens" style="color: red">
        <span class="material-icons">
          home
        </span>
      </div>
      <div class="grid-itens">
        <span class="material-icons">
          add_ic_call
        </span>
      </div>
    </div>






<br>
<br>
<br>
