<div class="content items-center justify-center flex-col flex p-6 rounded-lg text-center">

  <span>{{dados.data.city}} - {{dados.data.state}}</span>

</div>

<div class="content items-center justify-center flex-col flex p-6 rounded-lg text-center" [ngSwitch]="dados2.current_weather.weathercode">

    <ng-container *ngSwitchCase="0">
      <i class="fi fi-rr-sun"></i>
      <span> Céu limpo</span>
    </ng-container>

    <ng-container *ngSwitchCase="1">
      <i class="fi fi-rr-sun"></i>
      <span> Parcialmente limpo</span>
    </ng-container>

    <ng-container *ngSwitchCase="2">
      <i class="fi fi-rr-cloud-sun"></i>
      <span style='font-size:24px'> Parcialmente nublado</span>
    </ng-container>

    <ng-container *ngSwitchCase="3">
      <i class="fi fi-rr-clouds"></i>
      <span> Encoberto</span>
    </ng-container>

    <ng-container *ngSwitchCase="45">
      <i class="fi fi-rr-fog"></i>
      <span> Nevoeiro</span>
    </ng-container>

    <ng-container *ngSwitchCase="48">
      <i class="fi fi-rr-snowflake"></i>
      <span> Geada com nevoeiro</span>
    </ng-container>

    <ng-container *ngSwitchCase="51">
      <i class="fi fi-rr-cloud-hail"></i>
      <span> Garoa leve</span>
    </ng-container>

    <ng-container *ngSwitchCase="53">
      <i class="fi fi-rr-cloud-drizzle"></i>
      <span> Garoa moderada</span>
    </ng-container>

    <ng-container *ngSwitchCase="55">
      <i class="fi fi-rr-cloud-drizzle"></i>
      <span> Garoa Densa</span>
    </ng-container>

    <ng-container *ngSwitchCase="56">
      <i class="fi fi-rr-cloud-sleet"></i>
      <span> Garoa congelante leve</span>
    </ng-container>

    <ng-container *ngSwitchCase="57">
      <i class="fi fi-rr-cloud-sleet"></i>
      <span> Garoa congelante densa</span>
    </ng-container>

    <ng-container *ngSwitchCase="61">
      <i class="fi fi-rr-cloud-showers-heavy"></i>
      <span> Chuva leve</span>
    </ng-container>

    <ng-container *ngSwitchCase="63">
      <i class="fi fi-rr-cloud-showers-heavy"></i>
      <span> Chuva moderada</span>
    </ng-container>

    <ng-container *ngSwitchCase="65">
      <i class="fi fi-rr-cloud-showers-heavy"></i>
      <span> Chuva forte</span>
    </ng-container>

    <ng-container *ngSwitchCase="66">
      <i class="fi fi-rr-cloud-sleet"></i>
      <span> Chuva congelante leve</span>
    </ng-container>

    <ng-container *ngSwitchCase="67">
      <i class="fi fi-rr-cloud-sleet"></i>
      <span> Chuva congelante forte</span>
    </ng-container>

    <ng-container *ngSwitchCase="80">
      <i class="fi fi-rr-cloud-showers-heavy"></i>
      <span> Pancadas de chuvas leves</span>
    </ng-container>

    <ng-container *ngSwitchCase="81">
      <i class="fi fi-rr-cloud-showers-heavy"></i>
      <span> Pancadas de chuvas moderadas</span>
    </ng-container>


    <ng-container *ngSwitchCase="82">
      <i class="fi fi-rr-cloud-showers-heavy"></i>
      <span> Pancadas de chuvas violentas</span>
    </ng-container>

    <ng-container *ngSwitchCase="95">
      <i class="fi fi-rr-thunderstorm"></i>
      <span> Trovoada </span>
    </ng-container>

    <ng-container *ngSwitchCase="96">
      <i class="fi fi-rr-thunderstorm"></i>
      <span> Trovoada com granizo leve </span>
    </ng-container>

    <ng-container *ngSwitchCase="99">
      <i class="fi fi-rr-thunderstorm"></i>
      <span> Trovoada com granizo forte </span>
    </ng-container>
  </div>

  <div class="content items-center justify-center flex-col flex p-6 rounded-lg text-center">

      <p style="color:rgb(0, 165, 165);" *ngIf="dados2.current_weather.temperature <= 20">
        <i class="fi fi-rr-temperature-frigid"></i>
        {{dados2.current_weather.temperature}} ºC
      </p>
      <p *ngIf="dados2.current_weather.temperature > 20 && dados2.current_weather.temperature < 28">
        <i class="fi fi-rr-temperature-low"></i>
        {{dados2.current_weather.temperature}} ºC
      </p>
      <p style="color: red;" *ngIf="dados2.current_weather.temperature >= 28">
        <i class="fi fi-rr-summer"></i>
        {{dados2.current_weather.temperature}} ºC</p>

<br>
    <p>Máx: {{dados2.daily.temperature_2m_max[0]}} ºC</p>
    <p>Min: {{dados2.daily.temperature_2m_min[0]}} ºC</p>
  </div>

  <!-- precipitationProbability -->



  <div class="buttonNew">
    <button mat-raised-button class="addButon" (click)="openDialog()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
  </button>
</div>

    <div class="Menu">

      <div class="grid-itens">
        <a routerLink="">
          <span class="material-icons">
           home
         </span>
        </a>
      </div>

      <div class="grid-itens">
        <a routerLink="/download">
          <span class="material-icons">
            download
          </span>
        </a>
      </div>

      <div class="grid-itens">
        <a routerLink="/info">
          <span class="material-icons">
            info
          </span>
        </a>

      </div>

      <div class="grid-itens" style="color: red">
        <a routerLink="/clima">
          <span class="material-icons">
            sunny_snowing
          </span>
        </a>
      </div>
    </div>
