<ng-template [dataSource]="dataSource"></ng-template>
<div class="content items-center justify-center flex-col flex p-6 rounded-lg text-center">
  <p>Temperatura: {{dados.hourly.temperature_2m[0]}} ºC</p>
  <p>Temperatura Máx: {{dados.daily.temperature_2m_max[0]}} ºC</p>
  <p>Temperatura Min: {{dados.daily.temperature_2m_min[0]}} ºC</p>

  <ng-component [ngSwitch]="dados.daily.weathercode[0]">

    <ng-template *ngSwitchCase="0">
      <p>Céu limpo</p>
    </ng-template>

    <ng-template *ngSwitchCase="1">
      <p>Principalmente limpo</p>
    </ng-template>

    <ng-template *ngSwitchCase="2">
      <p>Parcialmente nublado</p>
    </ng-template>

    <ng-template *ngSwitchCase="3">
      <p>Encoberto</p>
    </ng-template>

    <ng-template *ngSwitchCase="45">
      <p>Nevoeiro</p>
    </ng-template>

    <ng-template *ngSwitchCase="48">
      <p>Geada com nevoeiro</p>
    </ng-template>

    <ng-template *ngSwitchCase="51">
      <p>Garoa leve</p>
    </ng-template>

    <ng-template *ngSwitchCase="53">
      <p>Garoa moderada</p>
    </ng-template>

    <ng-template *ngSwitchCase="55">
      <p>Garoa Densa</p>
    </ng-template>

    <ng-template *ngSwitchCase="56">
      <p>Garoa congelante leve</p>
    </ng-template>

    <ng-template *ngSwitchCase="57">
      <p>Garoa congelante densa</p>
    </ng-template>

    <ng-template *ngSwitchCase="61">
      <p>Chuva leve</p>
    </ng-template>

    <ng-template *ngSwitchCase="63">
      <p>Chuva moderada</p>
    </ng-template>

    <ng-template *ngSwitchCase="65">
      <p>Chuva forte</p>
    </ng-template>

    <ng-template *ngSwitchCase="66">
      <p>Chuva congelante leve</p>
    </ng-template>

    <ng-template *ngSwitchCase="67">
      <p>Chuva congelada forte</p>
    </ng-template>

    <ng-template *ngSwitchCase="80">
      <p>Pancadas de chuvas leves</p>
    </ng-template>

    <ng-template *ngSwitchCase="81">
      <p>Pancadas de chuvas moderadas</p>
    </ng-template>

    <ng-template *ngSwitchCase="82">
      <p>Pancadas de chuvas violentas</p>
    </ng-template>

  </ng-component>


  <!-- precipitationProbability -->

</div>


<div class="buttonNew">
  <button mat-raised-button class="addButon" (click)="openDialog()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
  </button>
</div>

    <div class="Menu">

      <div class="grid-itens">
        <a routerLink="">
          <span class="material-icons">
           home
         </span>
        </a>
      </div>

      <div class="grid-itens">
        <a>
          <span class="material-icons">
            download
          </span>
        </a>
      </div>

      <div class="grid-itens">
        <a>
          <span class="material-icons">
            info
          </span>
        </a>

      </div>

      <div class="grid-itens" style="color: red">
        <a routerLink="/clima">
          <span class="material-icons">
            sunny_snowing
          </span>
        </a>
      </div>
    </div>
