<form>
  <mat-form-field class="rounded-full" appearance="fill">
    <mat-label> Nome </mat-label>
    <input id="nome" autocomplete="off" matInput placeholder="Ex. Borracharia do zé">
  </mat-form-field>

  <mat-form-field class="rounded-full" appearance="fill">
    <mat-label> Numero </mat-label>
    <input id="numero" autocomplete="off" matInput placeholder="Ex. 16 9 9999-9999">
  </mat-form-field>

  <mat-form-field id="categoria" appearance="fill">
    <mat-label>Selecione a area</mat-label>
    <mat-select (selectionChange)="getCategoryValue($event.value)" disableRipple>
      <mat-option *ngFor="let teste of categories">{{teste.category}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="enviarContato()" id="btn" mat-raised-button class="bg-red-500 p-2 rounded-lg float-right">Enviar</button>
  <button (click)="closeModal()" style="color:black" mat-raised-button class="bg-stone-200 p-2 rounded-lg float-left text-black">cancelar</button>
</form>

